body{ 
 background-color: #E9EAEC; 
}

header{
 background-color: #90ADC6;
 height: 60vh;
 border-radius: 3rem;
 margin-left: 5vw;
 margin-right: 5vw;
}

main {
 background-color: #90adc64a;
 border-radius: 1rem;
 margin-left: 5vw;
 margin-right: 5vw;
 padding-bottom: 20vh;
 margin-bottom: 5vh;
}

h1{
 -webkit-text-stroke: 1px #FAD02C;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 15vh;
 color: #333652;
 text-align: center;
 padding-top: 7%;
 margin: 0;
}

h2 , h3{
 -webkit-text-stroke: 0.5px #FAD02C;
 font-weight: bolder;
 font-size: 10vh;
 text-align: center;
 color: #333652;
 background-color: #90ADC6;
 border-radius: 2rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.btn-text{
 font-size: 2vw;
 margin-left: auto;
 margin-right: auto;
}

button{
 display: flex;
 border: none;
 color: white;
 margin: 4px 2px;
 text-align: center;
 border-radius: 8px;
 width: 20vw;
 height: 15vh;
 margin-left: auto;
 margin-right: auto;
}

#increment-btn{
 background: darkgreen;
}

#decrease-btn{
 background: darkred;
}

#save-btn{
 background: #FAD02C;
}

#infoTable td,th{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #333652;
 border-collapse: collapse;
 border: 1px;
 border-style: solid;
 border-color: #333652;
 padding: 1vw;
 
}

.average-tbl{
 margin-top: 4vh;
 margin-left: auto;
 margin-right: auto;
}

#average{
 font-size: 2vw;
 font-weight: bolder;
}

#infoTable{
 margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

td{
 font-weight: bolder;
 font-size: 2vw;
}

th{
 font-size: 2vw;
}

footer{
 background-color: rgba(255, 255, 255, 0.519);
 border-radius: 3rem;
 margin-left: 3rem;
 margin-right: 3rem;
}

.infoApp{
 display: flex;
 justify-content: space-between;
 margin-left: 1rem;
 margin-right: 1rem;
}

p{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}