body{ 
 background-color: #E9EAEC; 
}

header{
 background-color: #90ADC6;
 height: 80vh;
 border-radius: 3rem;
 margin-left: 3rem;
 margin-right: 3rem;
}

h1{
 -webkit-text-stroke: 1px #FAD02C;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 15vh;
 color: #333652;
 text-align: center;
 padding-top: 7%;
 margin: 0;
}

h2 , h3{
 -webkit-text-stroke: 0.5px #FAD02C;
 font-weight: bolder;
 font-size: 10vh;
 text-align: center;
 color: #333652;
 background-color: #90ADC6;
 border-radius: 2rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
 display: flex;
 border: none;
 padding-top: 2vh;
 padding-bottom: 1.5vh;
 color: white;
 font-size: 1vw;
 font-weight: bolder;
 width: 12vw;
 margin-bottom: 5px;
 border-radius: 5px;
 margin-left: auto;
 margin-right: auto;
}

#increment-btn{
 background: darkgreen;
 padding-top: 4vh;
 padding-bottom: 4vh;
}

#decrease-btn{
 background: darkred;
}

#save-btn{
 background: #FAD02C;
}

#infoTable td,th{
 border-style: solid;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #333652;
 border-collapse: collapse;
 border: 1px;
 border-style: solid;
 border-color: #333652;
 padding: 1vw;
 align-self: center;
}

#infoTable{
 margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

td{
 font-weight: bolder;
 font-size: 1vw;
}

th{
 font-size: 1vw;
}

main{
 background-color: #90adc64a;
 margin-top: 3vh;
 margin-bottom: 3rem;
 padding-bottom: 10rem;
 border-radius: 3rem;
 margin-left: 5rem;
 margin-right: 5rem;

}


footer{
 background-color: rgba(255, 255, 255, 0.519);
 border-radius: 3rem;
 margin-left: 3rem;
 margin-right: 3rem;
}

.infoApp{
 display: flex;
 justify-content: space-between;
 margin-left: 1rem;
 margin-right: 1rem;
}

p{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}